tap "danielfoehrkn/switch"
tap "hashicorp/tap"
tap "homebrew/bundle"
tap "jdx/tap"
tap "ska-sa/tap"
brew "ack"
brew "xz"
brew "openssl@3"
brew "awscli"
brew "bash"
brew "bash-completion@2"
brew "bat"
brew "cmake"
brew "gmp"
brew "coreutils"
brew "openjdk"
brew "davmail"
brew "ffmpeg"
brew "findutils"
brew "fish"
brew "fisher"
brew "fnm"
brew "freetds"
brew "fzf"
brew "gh"
brew "ghostscript"
brew "git"
brew "git-delta"
brew "git-lfs"
brew "glab"
brew "gnu-sed"
brew "gnupg"
brew "go"
brew "graphviz"
brew "grep"
brew "gron"
brew "helm"
brew "hugo"
brew "jq"
brew "ijq"
brew "libheif"
brew "imagemagick"
brew "jp2a"
brew "k9s"
brew "krb5"
brew "kubecm"
brew "kubernetes-cli"
brew "kubectx"
brew "latexindent"
brew "make"
brew "minikube"
brew "mise"
brew "moreutils"
brew "neovim"
brew "node"
brew "nushell"
brew "openssh"
brew "p7zip"
brew "pdftk-java"
brew "php"
brew "zopfli"
brew "pigz"
brew "protobuf"
brew "pv"
brew "rename"
brew "rlwrap"
brew "rust"
brew "scrcpy"
brew "screen"
brew "sevenzip"
brew "ssh-copy-id"
brew "sshuttle"
brew "starship"
brew "syncthing"
brew "tcl-tk"
brew "terminal-notifier"
brew "thefuck"
brew "tldr"
brew "tree"
brew "vbindiff"
brew "watch"
brew "xonsh"
brew "yq"
brew "z"
brew "zlib"
brew "zsh"
brew "danielfoehrkn/switch/switch"
brew "hashicorp/tap/vault"
{{ if eq .chezmoi.os "darwin" }}
brew "qemu"
brew "lima"
brew "colima"
brew "docker"
brew "docker-buildx"
brew "docker-compose"
cask "android-platform-tools"
cask "aws-vault"
cask "background-music"
cask "discord"
cask "gpg-suite"
cask "mactex"
cask "ngrok"
cask "raycast"
cask "spotify"
cask "stats"
cask "steam"
cask "telegram"
cask "visual-studio-code"
cask "wezterm"
{{ end }}